.container{
    width: 100%;
    max-width: 1280px;
    background-color: antiquewhite;
}

.navbar{
    width: 100%;
    height: 25px;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*background: #17b978;*/
    background-color: #086972;
    position: fixed;
    z-index: 1000;
}

.logo{
    width: 120px;
    cursor: pointer;
    margin-left: 40px;
}



nav{
    margin-right: 200px;
    
    text-align: right;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}

nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 15px;
    position: relative;
}

nav ul li a::after{
    content: '';
    height: 3px;
    width: 0;
    background: #D8E7FC;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

nav ul li .menu{
    width: 30px;
    cursor: pointer;
}
.menu{
    display: none;
}

.menu-icon{
    width: 30px;
    cursor: pointer;
    margin-right: 20px;
}

@media screen and (max-width:700px){
    nav ul{
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100vh;
        background: #0b8457;
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        opacity: 0.98;
        z-index: 99;
        transition: 0.5s ease-in;
    }
    nav ul li a{
        color: #fff;
    }

    .menu{
        display: block;
        cursor: pointer;
    }

    nav ul li .menu{
        position: absolute;
        top: 20px;
        right: 20px;
    }

    .logo{
        width: 80px;
    }
}


